<div class="message">
  <h2><%= message.title %></h2>
  <p><%= message.message %></p>
  <% if (user.membership_status == 'member') { %>
    <p><%= message.username %> <%= message.formattedDate %></p>
  <% } %>
  <% if (user.admin == 'true') { %>
    <form action="/messages/<%= message.id %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
  <% } %>
</div>